*{
    margin: 0;
    padding: 0;

}

.nav-main {
    position: fixed;
    top: 1dvh; /* asegura que esté pegada al tope */
    left: 50%; /* centrado respecto a la ventana */
    transform: translateX(-50%); /* corrige la posición para centrar bien */
    
    background-color: #075EFF0D;
    color: rgb(32, 55, 93);
    width: 92dvw;
    height: 6dvh;
    padding: 0 2dvw;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-style: solid;
    border-color: #6783b80d;
}

.nav-links a{
    color: rgb(32, 55, 93);
    text-decoration: none;
    margin-right: 2dvw;
}

body{
    background-color: #F5F5F5;
}

.max-windows-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

.mainIndex{
    background-color: #075EFF0D;
    color: rgb(32, 55, 93);
    margin: 0 auto 20dvh auto;
    width: 50dvw;
    height: auto;
    padding: 2dvw;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    border-style: solid;
    border-color: #6783b80d;
}

.mainIndex input {
    background-color: rgba(255, 255, 255, 0);
    padding: 1dvh 1dvw;
    margin-top: 1dvh;
    border-radius: 3px;
}


.main {
    background-color: #075EFF0D;
    color: rgb(32, 55, 93);
    margin: 10dvh auto 0 auto;
    width: 92dvw;
    height: 50dvh;
    padding: 0 2dvw;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-style: solid;
    border-color: #6783b80d;
}