<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body class="body">
    <nav class="nav-main">
        <div class="nav-links">
            <a href="#">INICIO</a>
            <a href="#">vencimiento</a>
            <a href="#">lista</a>
            <a href="#">Charlas↴</a>
        </div>
        <div>
            <h1>Amanecer ONG</h1>
        </div>

        <div>PERFIL: Kahla Catriel <BR>BIENVENIDO: Sistemas</div>
    </nav>

    <main class="main">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, expedita! Quasi vitae placeat sunt in corporis
         quaerat necessitatibus dignissimos molestiae repellat suscipit. Perferendis reiciendis, molestiae iusto mollitia 
         distinctio explicabo et.
    </main>
</body>
</html>